--krds-accordion--list-margin-y: var(--krds-padding-2);
--krds-accordion--padding: var(--krds-padding-8);
--krds-accordion--button-padding-right: calc(var(--krds-accordion--padding) + var(--krds-gap-5) + var(--krds-accordion--button-icon-size));
--krds-accordion--line-padding: var(--krds-padding-7);
--krds-accordion--line-button-padding-right: calc(var(--krds-gap-5) + var(--krds-accordion--button-icon-size));
--krds-accordion--button-icon-size: var(--krds-icon--size-large);
--krds-accordion--radius: var(--krds-radius-large2 );
--krds-accordion--button-pc-font-size: var(--krds-pc-font-size-heading-xsmall);
--krds-accordion--button-mobile-font-size: var(--krds-mobile-font-size-heading-xsmall);
--krds-accordion--color-action: var(--krds-light-color-action-secondary);
--krds-accordion--button-color-action: var(--krds-light-color-action-secondary);
--krds-accordion--button-color-action-hover: var(--krds-light-color-action-secondary-hover);
--krds-accordion--button-color-action-pressed: var(--krds-light-color-action-secondary-pressed);
--krds-accordion--color-action-open: var(--krds-light-color-action-secondary-hover);
--krds-accordion--color-divider: var(--krds-light-color-divider-gray-light);
--krds-accordion--color-divider-open: var(--krds-light-color-divider-gray-dark);
--krds-accordion--button-color-text: var(--krds-light-color-text-basic);
--krds-accordion--button-color-text-open: var(--krds-light-color-text-secondary);