--krds-badge--size-height: var(--krds-size-height-4);
--krds-badge--line-height: 2.4rem;
--krds-badge--padding: var(--krds-padding-3);
--krds-badge--radius: var(--krds-radius-small2);
--krds-badge--radius-max: var(--krds-radius-max);
--krds-badge--dot-size: .6rem;
--krds-badge--dot-padding: 0;
--krds-badge--number-size-height: var(--krds-size-height-3);
--krds-badge--pc-font-size: var(--krds-pc-font-size-label-small);
--krds-badge--mobile-font-size: var(--krds-mobile-font-size-label-small);
--krds-badge--pc-font-size-large: var(--krds-pc-font-size-label-medium);
--krds-badge--mobile-font-size-large: var(--krds-mobile-font-size-label-medium);
--krds-badge--size-height-large: var(--krds-size-height-5);
--krds-badge--color-primary-element: var(--krds-light-color-element-primary);
--krds-badge--color-primary-element-lighter: var(--krds-light-color-element-primary-lighter);
--krds-badge--color-primary-text: var(--krds-light-color-text-primary);
--krds-badge--color-secondary-element: var(--krds-light-color-element-secondary);
--krds-badge--color-secondary-element-lighter: var(--krds-light-color-element-secondary-lighter);
--krds-badge--color-secondary-text: var(--krds-light-color-text-secondary);
--krds-badge--color-gray-element: var(--krds-light-color-element-gray);
--krds-badge--color-gray-element-lighter: var(--krds-light-color-element-gray-light);
--krds-badge--color-gray-text: var(--krds-light-color-text-subtle);
--krds-badge--color-point-element: var(--krds-light-color-element-point);
--krds-badge--color-point-element-lighter: var(--krds-light-color-element-point-lighter);
--krds-badge--color-point-text: var(--krds-light-color-text-point);
--krds-badge--color-danger-element: var(--krds-light-color-element-danger);
--krds-badge--color-danger-element-lighter: var(--krds-light-color-element-danger-lighter);
--krds-badge--color-danger-text: var(--krds-light-color-text-danger);
--krds-badge--color-warning-element: var(--krds-light-color-element-warning);
--krds-badge--color-warning-element-lighter: var(--krds-light-color-element-warning-lighter);
--krds-badge--color-warning-text: var(--krds-light-color-text-warning);
--krds-badge--color-success-element: var(--krds-light-color-element-success);
--krds-badge--color-success-element-lighter: var(--krds-light-color-element-success-lighter);
--krds-badge--color-success-text: var(--krds-light-color-text-success);
--krds-badge--color-information-element: var(--krds-light-color-element-information);
--krds-badge--color-information-element-lighter: var(--krds-light-color-element-information-lighter);
--krds-badge--color-information-text: var(--krds-light-color-text-information);
--krds-badge--color-disabled-element: var(--krds-light-color-element-disabled-dark);
--krds-badge--color-disabled-element-lighter: var(--krds-light-color-element-disabled-light);
--krds-badge--color-disabled-text: var(--krds-light-color-text-disabled-on);
--krds-badge--color-background-basic: var(--krds-light-color-background-white);
--krds-badge--color-text-basic: var(--krds-light-color-text-inverse-static);