--krds-breadcrumb--padding-x: var(--krds-padding-2);
--krds-breadcrumb--margin-bottom: var(--krds-pc-gap-layout-breadcrumb-h1);
--krds-breadcrumb--radius: var(--krds-radius-medium2);
--krds-breadcrumb--pc-font-size: var(--krds-pc-font-size-label-small);
--krds-breadcrumb--mobile-font-size: var(--krds-mobile-font-size-label-small);
--krds-breadcrumb--color-action: var(--krds-light-color-action-secondary);
--krds-breadcrumb--color-action-hover: var(--krds-light-color-action-secondary-hover);
--krds-breadcrumb--color-action-pressed: var(--krds-light-color-action-secondary-pressed);
--krds-breadcrumb--color-text: var(--krds-light-color-text-basic);
--krds-breadcrumb--color-text-disabled: var(--krds-light-color-text-disabled);