--krds-calendar--radius: var(--krds-radius-xlarge2);
--krds-calendar--head-pc-font-size: var(--krds-pc-font-size-heading-xsmall);
--krds-calendar--head-mobile-font-size: var(--krds-mobile-font-size-heading-xsmall);
--krds-calendar--head-btn-cal-switch-pc-font-size: var(--krds-pc-font-size-label-medium);
--krds-calendar--head-btn-cal-switch-mobile-font-size: var(--krds-mobile-font-size-label-medium);
--krds-calendar--head-btn-cal-switch-radius: var(--krds-radius-medium1);
--krds-calendar--head-btn-cal-move-size: var(--krds-size-height-5);
--krds-calendar--table-wrap-padding: var(--krds-gap-5);
--krds-calendar--table-head-pc-font-size: var(--krds-pc-font-size-label-small);
--krds-calendar--table-head-mobile-font-size: var(--krds-mobile-font-size-label-small);
--krds-calendar--table-caption-pc-font-size: var(--krds-pc-font-size-heading-xxsmall);
--krds-calendar--table-caption-mobile-font-size: var(--krds-pc-font-size-heading-xxsmall);
--krds-calendar--set-date-radius: var(--krds-radius-max);
--krds-calendar--color-border: var(--krds-light-color-border-secondary-light);
--krds-calendar--color-surface: var(--krds-light-color-surface-secondary-subtler);
--krds-calendar--color-text-sub: var(--krds-light-color-text-subtle);
--krds-calendar--head-btn-cal-move-color-text-active: var(--krds-light-color-text-secondary);
--krds-calendar--head-btn-cal-move-color-border: var(--krds-light-color-border-gray-light);
--krds-calendar--head-btn-cal-move-color-border-active: var(--krds-light-color-border-secondary);
--krds-calendar--head-btn-cal-move-color-action: var(--krds-light-color-action-white);
--krds-calendar--head-btn-cal-switch-color-action-hover: var(--krds-light-color-action-secondary-hover);
--krds-calendar--head-btn-cal-switch-color-action-active: var(--krds-light-color-action-secondary-pressed);
--krds-calendar--head-btn-cal-switch-color-text-disabled: var(--krds-light-color-text-disabled-on);
--krds-calendar--head-drop-down-shadow: 0 0 0.2rem 0 var(--krds-light-color-alpha-shadow1), 0 0.4rem 0.8rem 0 var(--krds-light-color-alpha-shadow2);
--krds-calendar--date-set-color-action: var(--krds-light-color-action-secondary-active);
--krds-calendar--date-set-color-text: var(--krds-light-color-text-inverse-static);
--krds-calendar--date-set-color-text-day-off: var(--krds-light-color-text-danger);
--krds-calendar--date-set-color-text-day-event: var(--krds-light-color-text-information);
--krds-calendar--date-set-color-text-disabled: var(--krds-light-color-text-disabled);
--krds-calendar--date-set-color-action-pressed: var(--krds-light-color-action-secondary-on-pressed);
--krds-calendar--date-set-color-action-period: var(--krds-light-color-action-secondary-on-selected);
--krds-calendar--date-set-color-element-today: var(--krds-light-color-element-point);
--krds-calendar--action-btn-wrap-color-border: var(--krds-light-color-divider-gray-light);
--krds-calendar--action-btn-wrap-color-surface: var(--krds-light-color-surface-white);