--krds-contextual-help--action-btn-radius: var(--krds-radius-small2);
--krds-contextual-help--action-pc-font-size: var(--krds-pc-font-size-body-small);
--krds-contextual-help--action-mobile-font-size: var(--krds-mobile-font-size-body-small);
--krds-contextual-help--popover-width: 36rem;
--krds-contextual-help--popover-padding: var(--krds-padding-8);
--krds-contextual-help--popover-radius: var(--krds-radius-xlarge2);
--krds-contextual-help--popover-title-pc-font-size: var(--krds-pc-font-size-heading-xsmall);
--krds-contextual-help--popover-title-mobile-font-size: var(--krds-mobile-font-size-heading-xsmall);
--krds-contextual-help--popover-contents-pc-font-size: var(--krds-pc-font-size-body-small);
--krds-contextual-help--popover-contents-mobile-font-size: var(--krds-mobile-font-size-body-small);
--krds-contextual-help--action-btn-color-background: var(--krds-light-color-action-secondary);
--krds-contextual-help--action-btn-color-background-hover: var(--krds-light-color-action-secondary-hover);
--krds-contextual-help--action-btn-color-background-pressed: var(--krds-light-color-action-secondary-pressed);
--krds-contextual-help--action-icon-color-information: var(--krds-light-color-icon-information);
--krds-contextual-help--popover-color-text-basic: var(--krds-light-color-text-basic);
--krds-contextual-help--popover-color-text-bolder: var(--krds-light-color-text-bolder);
--krds-contextual-help--popover-color-border: var(--krds-light-color-border-gray);
--krds-contextual-help--popover-color-background: var(--krds-light-color-surface-white-subtler);
--krds-contextual-help--popover-shadow: 0 0 0.2rem 0 var(--krds-light-color-alpha-shadow2), 0 0.8rem 1.6rem 0 var(--krds-light-color-alpha-shadow3);