--krds-critical-alerts--size-max-width: 84.6rem;
--krds-critical-alerts--gap: var(--krds-number-6);
--krds-critical-alerts--padding: var(--krds-padding-7);
--krds-critical-alerts--banner-gap: var(--krds-gap-5);
--krds-critical-alerts--banner-padding: var(--krds-pc-padding-card-xsmall);
--krds-critical-alerts--banner-radius: var(--krds-radius-large2);
--krds-critical-alerts--badge-size-min-width: 7.8rem;
--krds-critical-alerts--badge-size-height: var(--krds-size-height-7);
--krds-critical-alerts--badge-gap:var(--krds-gap-2);
--krds-critical-alerts--badge-padding: var(--krds-padding-4);
--krds-critical-alerts--badge-radius: var(--krds-radius-medium2);
--krds-critical-alerts--badge-pc-font-size: var(--krds-pc-font-size-body-medium);
--krds-critical-alerts--badge-mobile-font-size: var(--krds-mobile-font-size-body-small);
--krds-critical-alerts--badge-icon-size: var(--krds-gap-7);
--krds-critical-alerts--mobile-padding: var(--krds-padding-6);
--krds-critical-alerts--mobile-banner-padding: var(--krds-mobile-padding-card-xsmall);
--krds-critical-alerts--mobile-badge-size-height: 3.9rem;
--krds-critical-alerts--mobile-badge-icon-size: var(--krds-gap-6);
--krds-critical-alerts--mobile-badge-padding: var(--krds-padding-3);
--krds-critical-alerts--banner-border-width: var(--krds-light-border-width-variable-regular);
--krds-critical-alerts--banner-color-action: var(--krds-light-color-surface-white-subtle);
--krds-critical-alerts--banner-color-border: var(--krds-light-color-border-gray-light);
--krds-critical-alerts--banner-shadow: 0 0 0.2rem 0 var(--krds-light-color-alpha-shadow1), 0 0.4rem 0.8rem 0 var(--krds-light-color-alpha-shadow2);
--krds-critical-alerts--badge-color-background-danger: var(--krds-light-color-element-danger);
--krds-critical-alerts--badge-color-background-ok: var(--krds-light-color-element-success);
--krds-critical-alerts--badge-color-background-info: var(--krds-light-color-element-information);
--krds-critical-alerts--badge-color-text: var(--krds-light-color-text-inverse-static);