--krds-help-panel--pc-width: 39rem;
--krds-help-panel--mobile-width: calc(100vw - 3rem);
--krds-help-panel--pc-padding: var(--krds-padding-10);
--krds-help-panel--mobile-padding: var(--krds-padding-6);
--krds-help-panel--title-pc-font-size: var(--krds-pc-font-size-heading-small);
--krds-help-panel--title-mobile-font-size: var(--krds-mobile-font-size-heading-small);
--krds-help-panel--pc-gap-title-link-list: var(--krds-pc-gap-layout-title-body-small);
--krds-help-panel--mobile-gap-title-link-list: var(--krds-mobile-gap-layout-title-body-small);
--krds-help-panel--pc-gap-link-list: var(--krds-pc-gap-layout-text-text-small);
--krds-help-panel--mobile-gap-link-list: var(--krds-mobile-gap-layout-text-text-small);
--krds-help-panel--pc-gap-help-conts: var(--krds-pc-gap-layout-title-body-small);
--krds-help-panel--mobile-gap-help-conts: var(--krds-mobile-gap-layout-title-body-small);
--krds-help-panel--desc-pc-font-size: var(--krds-pc-font-size-body-medium);
--krds-help-panel--desc-mobile-font-size: var(--krds-mobile-font-size-body-medium);
--krds-help-panel--service-title-pc-font-size: var(--krds-pc-font-size-heading-xsmall);
--krds-help-panel--service-title-mobile-font-size: var(--krds-mobile-font-size-heading-xsmall);
--krds-help-panel--color-border: var(--krds-light-color-border-gray);
--krds-help-panel--color-background: var(--krds-light-color-surface-gray-subtler);
--krds-help-panel--shadow: 0 0 0.2rem 0 var(--krds-light-color-alpha-shadow2), 0 0.8rem 1.6rem 0 var(--krds-light-color-alpha-shadow3);
--krds-help-panel--color-text-subtle: var(--krds-light-color-text-subtle);
--krds-help-panel--color-text-bolder: var(--krds-light-color-text-bolder);
--krds-help-panel--service-color-divider: var(--krds-light-color-divider-gray-light);
--krds-help-panel--coach-color-text-primary: var(--krds-light-color-text-primary);
--krds-help-panel--coach-color-border: var(--krds-light-color-divider-gray);
--krds-help-panel--coach-color-text: var(--krds-light-color-text-basic);