--krds-in-page-navigation--width: 16rem;
--krds-in-page-navigation--gap: var(--krds-gap-5);
--krds-in-page-navigation--position-top: 25.6rem;
--krds-in-page-navigation--position-right: calc((100% - var(--krds-contents-wrap-size)) / 2 - (var(--krds-in-page-navigation--width) - var(--krds-contents-padding-x) + var(--krds-pc-gap-layout-contents-right)));
--krds-in-page-navigation--header-gap: var(--krds-gap-2);
--krds-in-page-navigation--header-caption-pc-font-size: var(--krds-pc-font-size-body-xsmall);
--krds-in-page-navigation--header-caption-mobile-font-size: var(--krds-mobile-font-size-body-xsmall);
--krds-in-page-navigation--header-title-pc-font-size: var(--krds-pc-font-size-heading-xsmall);
--krds-in-page-navigation--header-title-mobile-font-size: var(--krds-mobile-font-size-heading-xsmall);
--krds-in-page-navigation--list-anchor-border-radius: var(--krds-radius-small3);
--krds-in-page-navigation--list-anchor-pc-font-size: var(--krds-pc-font-size-navigation-depth-small);
--krds-in-page-navigation--list-anchor-mobile-font-size: var(--krds-mobile-font-size-navigation-depth-small);
--krds-in-page-navigation--action-gap: var(--krds-gap-3);
--krds-in-page-navigation--action-info-pc-font-size: var(--krds-pc-font-size-body-small);
--krds-in-page-navigation--action-info-mobile-font-size: var(--krds-mobile-font-size-body-small);
--krds-in-page-navigation--color-text-bolder: var(--krds-light-color-text-bolder);
--krds-in-page-navigation--color-text-sub: var(--krds-light-color-text-subtle);
--krds-in-page-navigation--list-anchor-color-text-selected: var(--krds-light-color-text-secondary);
--krds-in-page-navigation--list-anchor-color-background: var(--krds-light-color-action-secondary);
--krds-in-page-navigation--list-anchor-color-background-hover: var(--krds-light-color-action-secondary-hover);
--krds-in-page-navigation--list-anchor-color-background-pressed: var(--krds-light-color-action-secondary-pressed);
--krds-in-page-navigation--list-anchor-color-background-selected: var(--krds-light-color-action-secondary-selected);