--krds-button--size-height-xsmall: var(--krds-size-height-5);
--krds-button--padding-x-xsmall: var(--krds-padding-1);
--krds-button--padding-y-xsmall: 0;
--krds-button--gap-xsmall: var(--krds-gap-1);
--krds-button--radius-xsmall: var(--krds-radius-small3);
--krds-button--pc-font-size-xsmall: var(--krds-pc-font-size-label-small);
--krds-button--mobile-font-size-xsmall: var(--krds-mobile-font-size-label-small);
--krds-button--font-weight-xsmall: var(--krds-font-weight-regular);
--krds-button--size-height-small: var(--krds-size-height-6);
--krds-button--padding-x-small: var(--krds-padding-1);
--krds-button--padding-y-small: 0;
--krds-button--gap-small: var(--krds-gap-1);
--krds-button--radius-small: var(--krds-radius-medium1);
--krds-button--pc-font-size-small: var(--krds-pc-font-size-label-small);
--krds-button--mobile-font-size-small: var(--krds-mobile-font-size-label-small);
--krds-button--font-weight-small: var(--krds-font-weight-regular);
--krds-button--size-height-medium: var(--krds-size-height-7);
--krds-button--padding-x-medium: var(--krds-padding-1);
--krds-button--padding-y-medium: 0;
--krds-button--gap-medium: var(--krds-gap-2);
--krds-button--radius-medium: var(--krds-radius-medium2);
--krds-button--pc-font-size-medium: var(--krds-pc-font-size-label-medium);
--krds-button--mobile-font-size-medium: var(--krds-mobile-font-size-label-medium);
--krds-button--font-weight-medium: var(--krds-font-weight-regular);
--krds-button--size-height-large: var(--krds-size-height-8);
--krds-button--padding-x-large: var(--krds-padding-1);
--krds-button--padding-y-large: 0;
--krds-button--gap-large: var(--krds-gap-2);
--krds-button--radius-large: var(--krds-radius-medium3);
--krds-button--pc-font-size-large: var(--krds-pc-font-size-label-large);
--krds-button--mobile-font-size-large: var(--krds-mobile-font-size-label-large);
--krds-button--font-weight-large: var(--krds-font-weight-regular);
--krds-button--size-height-xlarge: var(--krds-size-height-9);
--krds-button--padding-x-xlarge: var(--krds-padding-1);
--krds-button--padding-y-xlarge: 0;
--krds-button--gap-xlarge: var(--krds-gap-2);
--krds-button--radius-xlarge: var(--krds-radius-medium4);
--krds-button--pc-font-size-xlarge: var(--krds-pc-font-size-label-large);
--krds-button--mobile-font-size-xlarge: var(--krds-mobile-font-size-label-large);
--krds-button--font-weight-xlarge: var(--krds-font-weight-regular);
--krds-button--color-primary-fill: var(--krds-light-color-button-primary-fill);
--krds-button--color-primary-fill-hover: var(--krds-light-color-button-primary-fill-hover);
--krds-button--color-primary-fill-pressed: var(--krds-light-color-button-primary-fill-pressed);
--krds-button--color-primary-fill-disabled: var(--krds-light-color-button-disabled-fill);
--krds-button--color-primary-border: var(--krds-light-color-button-primary-fill);
--krds-button--color-primary-border-disabled: var(--krds-light-color-button-disabled-border);
--krds-button--color-primary-text: var(--krds-light-color-text-inverse-static);
--krds-button--color-primary-text-disabled: var(--krds-light-color-text-disabled-on);
--krds-button--color-secondary-fill: var(--krds-light-color-button-secondary-fill);
--krds-button--color-secondary-fill-hover: var(--krds-light-color-button-secondary-fill-hover);
--krds-button--color-secondary-fill-pressed: var(--krds-light-color-button-secondary-fill-pressed);
--krds-button--color-secondary-fill-disabled: var(--krds-light-color-button-disabled-fill);
--krds-button--color-secondary-border: var(--krds-light-color-button-secondary-border);
--krds-button--color-secondary-border-disabled: var(--krds-light-color-button-disabled-border);
--krds-button--color-secondary-text: var(--krds-light-color-text-primary);
--krds-button--color-secondary-text-disabled: var(--krds-light-color-text-disabled-on);
--krds-button--color-tertiary-fill: var(--krds-light-color-button-tertiary-fill);
--krds-button--color-tertiary-fill-hover: var(--krds-light-color-button-tertiary-fill-hover);
--krds-button--color-tertiary-fill-pressed: var(--krds-light-color-button-tertiary-fill-pressed);
--krds-button--color-tertiary-fill-disabled: var(--krds-light-color-button-disabled-fill);
--krds-button--color-tertiary-border: var(--krds-light-color-button-tertiary-border);
--krds-button--color-tertiary-border-disabled: var(--krds-light-color-button-disabled-border);
--krds-button--color-tertiary-text: var(--krds-light-color-text-basic);
--krds-button--color-tertiary-text-disabled: var(--krds-light-color-text-disabled-on);
--krds-button--color-text-fill: var(--krds-light-color-button-text-fill);
--krds-button--color-text-fill-hover: var(--krds-light-color-button-text-fill-hover);
--krds-button--color-text-fill-pressed: var(--krds-light-color-button-text-fill-pressed);
--krds-button--color-text-fill-disabled: var(--krds-light-color-button-text-fill);
--krds-button--color-text-border: var(--krds-light-color-button-text-border);
--krds-button--color-text-border-disabled: var(--krds-light-color-border-transparency);
--krds-button--color-text-text: var(--krds-light-color-text-basic);
--krds-button--color-text-text-disabled: var(--krds-light-color-text-disabled);
--krds-button--color-link-fill: var(--krds-light-color-button-text-fill);
--krds-button--color-link-fill-hover: var(--krds-light-color-button-text-fill);
--krds-button--color-link-fill-pressed: var(--krds-light-color-button-text-fill);
--krds-button--color-link-fill-disabled: var(--krds-light-color-button-text-fill);
--krds-button--color-link-border: var(--krds-light-color-button-text-border);
--krds-button--color-link-border-disabled: var(--krds-light-color-border-transparency);
--krds-button--color-link-text: var(--krds-light-color-link-default);
--krds-button--color-link-text-disabled: var(--krds-light-color-text-disabled);