--krds-main-menu--main-trigger-size-height: var(--krds-size-height-8);
--krds-main-menu--main-trigger-padding-x: var(--krds-padding-6);
--krds-main-menu--main-trigger-font-size: var(--krds-pc-font-size-navigation-title-small);
--krds-main-menu--main-menu-width: 26.6rem;
--krds-main-menu--sub-trigger-padding-x: var(--krds-padding-8);
--krds-main-menu--sub-trigger-padding-y: var(--krds-padding-6);
--krds-main-menu--sub-trigger-font-size: var(--krds-pc-font-size-navigation-depth-medium);
--krds-main-menu--sub-trigger-font-size-active: var(--krds-pc-font-size-navigation-depth-medium-bold);
--krds-main-menu--sub-menu-padding-x: var(--krds-padding-10);
--krds-main-menu--sub-menu-padding-y: var(--krds-padding-6);
--krds-main-menu--sub-menu-title-size-height: var(--krds-size-height-8);
--krds-main-menu--sub-menu-title-padding-x: var(--krds-padding-2);
--krds-main-menu--sub-menu-title-radius: var(--krds-radius-medium3);
--krds-main-menu--sub-menu-title-font-size: var(--krds-pc-font-size-navigation-title-medium);
--krds-main-menu--sub-menu-trigger-color-padding-x: var(--krds-padding-3);
--krds-main-menu--sub-menu-trigger-color-padding-y: var(--krds-padding-4);
--krds-main-menu--sub-menu-trigger-color-radius: var(--krds-radius-medium2);
--krds-main-menu--sub-menu-trigger-color-font-size: var(--krds-pc-font-size-navigation-depth-medium);
--krds-main-menu--sub-menu-description-title-font-size: var(--krds-pc-font-size-navigation-title-small);
--krds-main-menu--sub-menu-description-title-padding: var(--krds-padding-2);
--krds-main-menu--sub-menu-description-title-radius: var(--krds-radius-medium1);
--krds-main-menu--sub-menu-description-description-color-padding-top: var(--krds-padding-6);
--krds-main-menu--sub-menu-description-description-color-padding-x: var(--krds-padding-2);
--krds-main-menu--sub-menu-description-description-color-font-size: var(--krds-pc-font-size-navigation-depth-medium);
--krds-main-menu--sub-menu-only-2depth-padding-y: var(--krds-padding-6);
--krds-main-menu--banner-padding-x: var(--krds-padding-6);
--krds-main-menu--banner-padding-y: var(--krds-padding-5);
--krds-main-menu--banner-radius: var(--krds-radius-medium3);
--krds-main-menu--column-banner-margin-x: var(--krds-padding-6);
--krds-main-menu--column-banner-padding: var(--krds-padding-8);
--krds-main-menu--column-banner-radius: var(--krds-radius-medium3);
--krds-main-menu--color-surface: var(--krds-light-color-surface-white);
--krds-main-menu--color-border: var(--krds-light-color-divider-gray-light);
--krds-main-menu--main-trigger-color-text: var(--krds-light-color-text-subtle);
--krds-main-menu--main-trigger-color-text-active: var(--krds-light-color-text-basic);
--krds-main-menu--main-trigger-color-action-hover: var(--krds-light-color-action-secondary-hover);
--krds-main-menu--main-trigger-color-action-pressed: var(--krds-light-color-action-secondary-pressed);
--krds-main-menu--main-trigger-color-border-selected: var(--krds-light-color-action-secondary-active);
--krds-main-menu--toggle-color-surface: var(--krds-light-color-surface-white-subtle);
--krds-main-menu--main-menu-color-surface: var(--krds-light-color-surface-secondary-subtler);
--krds-main-menu--sub-trigger-color-text: var(--krds-light-color-text-basic);
--krds-main-menu--sub-trigger-color-text-selected: var(--krds-light-color-text-secondary);
--krds-main-menu--sub-trigger-color-text-pressed: var(--krds-light-color-text-basic);
--krds-main-menu--sub-trigger-color-action: var(--krds-light-color-action-secondary-on);
--krds-main-menu--sub-trigger-color-action-selected: var(--krds-light-color-action-secondary-on-selected);
--krds-main-menu--sub-trigger-color-action-pressed: var(--krds-light-color-action-secondary-on-pressed);
--krds-main-menu--sub-menu-color-action: var(--krds-light-color-action-secondary);
--krds-main-menu--sub-menu-color-action-hover: var(--krds-light-color-action-secondary-hover);
--krds-main-menu--sub-menu-color-action-pressed: var(--krds-light-color-action-secondary-pressed);
--krds-main-menu--sub-menu-trigger-color-action-selected: var(--krds-light-color-action-secondary-selected);
--krds-main-menu--sub-menu-trigger-color-text-selected: var(--krds-light-color-text-secondary);
--krds-main-menu--sub-menu-description-description-color-border: var(--krds-light-color-border-gray-light);
--krds-main-menu--sub-menu-description-description-color-text: var(--krds-light-color-text-subtle);
--krds-main-menu--banner-background: var(--krds-light-color-surface-gray-subtle);