--krds-modal--size-large: 76rem;
--krds-modal--size-medium: 56rem;
--krds-modal--size-small: 40rem;
--krds-modal--size-min-height: 26.4rem;
--krds-modal--wrap-radius: var(--krds-radius-xlarge1);
--krds-modal--padding: var(--krds-padding-10);
--krds-modal--header-padding-top: var(--krds-number-17);
--krds-modal--header-pc-font-size: var(--krds-pc-font-size-heading-medium);
--krds-modal--header-mobile-font-size: var(--krds-mobile-font-size-heading-medium);
--krds-modal--conts-padding-top: var(--krds-padding-6);
--krds-modal--conts-padding-bottom: var(--krds-padding-3);
--krds-modal--conts-gap: var(--krds-gap-5);
--krds-modal--btn-gap: var(--krds-gap-3);
--krds-modal--btn-padding-top: var(--krds-padding-6);
--krds-modal--btn-size-min-wdith: 7.8rem;
--krds-modal--btn-close-position: var(--krds-gap-7);
--krds-modal--mobile-gap: var(--krds-gap-7);
--krds-modal--mobile-width: calc(100% - var(--krds-gap-7));
--krds-modal--mobile-height: calc(100% - var(--krds-modal--mobile-gap) * 2);
--krds-modal--mobile-padding: var(--krds-padding-8);
--krds-modal--mobile-header-padding-top: 5.2rem;
--krds-modal--mobile-btn-close-position: var(--krds-gap-6);
--krds-modal--mobile-btn-padding-top: var(--krds-padding-6);
--krds-modal--mobile-btn-padding-bottom: var(--krds-padding-8);
--krds-modal--border-width: var(--krds-light-border-width-variable-regular);
--krds-modal--color-text: var(--krds-light-color-text-basic);
--krds-modal--wrap-color-surface: var(--krds-light-color-surface-white-subtler);
--krds-modal--wrap-color-border: var(--krds-light-color-border-gray);
--krds-modal--wrap-shadow: 0 0 0.2rem 0 var(--krds-light-color-alpha-shadow2), 0 1.6rem 2.4rem 0 var(--krds-light-color-alpha-shadow3);
--krds-modal--color-dim: var(--krds-light-color-background-dim);
--krds-modal--full-popup-surface: var(--krds-light-color-surface-secondary-subtler);