--krds-pagination--color-text: var(--krds-light-color-text-subtle);
--krds-pagination--color-text-active: var(--krds-light-color-text-inverse-static);
--krds-pagination--color-action: var(--krds-light-color-action-secondary);
--krds-pagination--color-action-hover: var(--krds-light-color-action-secondary-hover);
--krds-pagination--color-action-pressed: var(--krds-light-color-action-secondary-pressed);
--krds-pagination--color-action-active: var(--krds-light-color-action-secondary-active);
--krds-pagination-gap: var(--krds-gap-3);
--krds-pagination-margin-top: var(--krds-pc-gap-layout-h2-h3);
--krds-pagination--size-height: var(--krds-size-height-6);
--krds-pagination--radius: var(--krds-radius-medium1);
--krds-pagination--prev-btn-padding-left: var(--krds-padding-2);
--krds-pagination--prev-btn-padding-right: var(--krds-padding-3);