--krds-form-check--color-text: var(--krds-light-color-text-bolder);
--krds-form-check--color-text-disabled: var(--krds-light-color-text-disabled);
--krds-form-check--color-text-sub: var(--krds-light-color-text-subtle);
--krds-form-check--color-text-sub-disabled: var(--krds-light-color-text-disabled);
--krds-form-check--button-color-element: var(--krds-light-color-element-inverse);
--krds-form-check--button-color-element-disabled: var(--krds-light-color-element-disabled-light);
--krds-form-check--button-color-border: var(--krds-light-color-element-gray-dark);
--krds-form-check--button-color-border-checked: var(--krds-light-color-element-primary);
--krds-form-check--button-color-border-disabled: var(--krds-light-color-element-disabled-dark);
--krds-form-check--checkbox-button-color-element-checked: var(--krds-light-color-element-primary);
--krds-form-check--radio-check-color-element: var(--krds-light-alpha-black0);
--krds-form-check--radio-check-color-element-checked: var(--krds-light-color-element-primary);
--krds-form-check--radio-check-color-element-disabled: var(--krds-light-color-element-disabled-dark);
--krds-form-check--checkbox-check-color-element: var(--krds-light-alpha-black0);
--krds-form-check--checkbox-check-color-element-checked: var(--krds-light-color-element-inverse-static);
--krds-form-check--checkbox-check-color-element-disabled: var(--krds-light-color-element-disabled-dark);
--krds-form-check--additional-text-color-text: var(--krds-light-color-text-subtle);
--krds-form-check--button-size-medium: var(--krds-size-height-3);
--krds-form-check--radio-check-size-medium: 1rem;
--krds-form-check--checkbox-check-size-medium: 1.2rem;
--krds-form-check--radio-button-radius-medium: var(--krds-radius-max);
--krds-form-check--checkbox-button-radius-medium: var(--krds-radius-small1);
--krds-form-check--pc-font-size-medium: var(--krds-pc-font-size-label-medium);
--krds-form-check--mobile-font-size-medium: var(--krds-mobile-font-size-label-medium);
--krds-form-check--additional-text-pc-font-size-medium: var(--krds-pc-font-size-label-small);
--krds-form-check--additional-text-mobile-font-size-medium: var(--krds-mobile-font-size-label-small);
--krds-form-check--button-size-large: var(--krds-size-height-4);
--krds-form-check--radio-check-size-large: 1.2rem;
--krds-form-check--checkbox-check-size-large: var(--krds-size-height-2);
--krds-form-check--radio-button-radius-large: var(--krds-radius-max);
--krds-form-check--checkbox-button-radius-large: var(--krds-radius-small2);
--krds-form-check--pc-font-size-large: var(--krds-pc-font-size-label-large);
--krds-form-check--mobile-font-size-large: var(--krds-mobile-font-size-label-large);
--krds-form-check--additional-text-pc-font-size-large: var(--krds-pc-font-size-label-medium);
--krds-form-check--additional-text-mobile-font-size-large: var(--krds-mobile-font-size-label-medium);
--krds-form-check--gap: var(--krds-gap-3);
--krds-form-check--button-margin-top: 0.3rem;