--krds-form-select--color-background: var(--krds-light-color-input-surface);
--krds-form-select--color-background-readonly: var(--krds-light-color-input-surface-disabled);
--krds-form-select--color-background-disabled: var(--krds-light-color-input-surface-disabled);
--krds-form-select--color-background-error: var(--krds-light-color-input-surface);
--krds-form-select--icon-color-background: var(--krds-light-color-icon-gray);
--krds-form-select--icon-color-background-readonly: var(--krds-light-color-icon-disabled-on);
--krds-form-select--icon-color-background-disabled: var(--krds-light-color-icon-disabled-on);
--krds-form-select--color-border: var(--krds-light-color-input-border);
--krds-form-select--color-border-active: var(--krds-light-color-input-border-active);
--krds-form-select--color-border-readonly: var(--krds-light-color-input-border-disabled);
--krds-form-select--color-border-disabled: var(--krds-light-color-input-border-disabled);
--krds-form-select--color-border-error: var(--krds-light-color-input-border-error);
--krds-form-select--color-text: var(--krds-light-color-text-disabled);
--krds-form-select--color-text-active: var(--krds-light-color-text-basic);
--krds-form-select--color-text-completed: var(--krds-light-color-text-subtle);
--krds-form-select--color-text-disabled: var(--krds-light-color-text-disabled-on);
--krds-form-select--color-text-error: var(--krds-light-color-text-subtle);
--krds-form-select--padding-default: var(--krds-padding-6);
--krds-form-select--size-height-small: var(--krds-size-height-6);
--krds-form-select--icon-size-small: var(--krds-icon--size-small);
--krds-form-select--radius-small: var(--krds-radius-medium3);
--krds-form-select--padding-right-small: calc(var(--krds-form-select--padding-default) + var(--krds-gap-3) + var(--krds-form-select--icon-size-small));
--krds-form-select--pc-font-size-small: var(--krds-pc-font-size-label-small);
--krds-form-select--mobile-font-size-small: var(--krds-mobile-font-size-label-small);
--krds-form-select--size-height-medium: var(--krds-size-height-7);
--krds-form-select--icon-size-medium: var(--krds-icon--size-medium);
--krds-form-select--padding-right-medium: calc(var(--krds-form-select--padding-default) + var(--krds-gap-3) + var(--krds-form-select--icon-size-medium));
--krds-form-select--radius-medium: var(--krds-radius-medium2);
--krds-form-select--pc-font-size-medium: var(--krds-pc-font-size-label-medium);
--krds-form-select--mobile-font-size-medium: var(--krds-mobile-font-size-label-medium);
--krds-form-select--size-height-large: var(--krds-size-height-8);
--krds-form-select--icon-size-large: var(--krds-icon--size-large);
--krds-form-select--padding-right-large: calc(var(--krds-form-select--padding-default) + var(--krds-gap-3) + var(--krds-form-select--icon-size-large));
--krds-form-select--radius-large: var(--krds-radius-medium1);
--krds-form-select--pc-font-size-large: var(--krds-pc-font-size-label-large);
--krds-form-select--mobile-font-size-large: var(--krds-mobile-font-size-label-large);