--krds-table--data-thead-th-padding: var(--krds-padding-3);
--krds-table--data-thead-th-padding-sides:var(--krds-padding-6);
--krds-table--data-thead-pc-font-size: var(--krds-pc-font-size-heading-xxsmall);
--krds-table--data-thead-mobile-font-size: var(--krds-mobile-font-size-heading-xxsmall);
--krds-table--data-tbody-pc-font-size: var(--krds-pc-font-size-label-medium);
--krds-table--data-tbody-mobile-font-size: var(--krds-mobile-font-size-label-medium);
--krds-table--data-tbody-padding: var(--krds-padding-5);
--krds-table--data-tbody-padding-sides: var(--krds-padding-6);
--krds-table--data-border-width: var(--krds-light-border-width-variable-regular);
--krds-table--data-thead-border: var(--krds-light-color-border-secondary-light);
--krds-table--data-thead-surface: var(--krds-light-color-surface-secondary-subtler);
--krds-table--data-thead-color-text: var(--krds-light-color-text-bolder);
--krds-table--data-tbody-color-surface: var(--krds-light-color-surface-white-subtle);
--krds-table--data-tbody-color-divider: var(--krds-light-color-divider-gray-light);
--krds-table--data-tbody-color-text: var(--krds-light-color-text-subtle);