--krds-btn-tag--color-text: var(--krds-light-color-text-basic);
--krds-btn-tag--color-action: var(--krds-light-color-action-white);
--krds-btn-tag--color-action-hover: var(--krds-light-color-action-secondary-hover);
--krds-btn-tag--color-action-pressed: var(--krds-light-color-action-secondary-pressed);
--krds-btn-tag--color-border: var(--krds-light-color-border-gray-light);
--krds-btn-tag--color-border-hover: var(--krds-light-color-action-secondary-hover);
--krds-btn-tag--color-border-pressed: var(--krds-light-color-action-secondary-pressed);
--krds-btn-tag--wrapper-gap-x-small: var(--krds-gap-2);
--krds-btn-tag--wrapper-gap-y-small: var(--krds-gap-3);
--krds-btn-tag--size-height-small: var(--krds-size-height-4);
--krds-btn-tag--button-size-small: 1.2rem;
--krds-btn-tag--padding-x-small: var(--krds-padding-3);
--krds-btn-tag--pc-font-size-small: var(--krds-pc-font-size-label-xsmall);
--krds-btn-tag--mobile-font-size-small: var(--krds-mobile-font-size-label-xsmall);
--krds-btn-tag--wrapper-gap-x-medium: var(--krds-gap-3);
--krds-btn-tag--wrapper-gap-y-medium: var(--krds-gap-3);
--krds-btn-tag--size-height-medium: var(--krds-size-height-5);
--krds-btn-tag--button-size-medium: 1.2rem;
--krds-btn-tag--padding-x-medium: var(--krds-padding-4);
--krds-btn-tag--pc-font-size-medium: var(--krds-pc-font-size-label-small);
--krds-btn-tag--mobile-font-size-medium: var(--krds-mobile-font-size-label-small);
--krds-btn-tag--wrapper-gap-x-large: var(--krds-gap-3);
--krds-btn-tag--wrapper-gap-y-large: var(--krds-gap-4);
--krds-btn-tag--size-height-large: var(--krds-size-height-6);
--krds-btn-tag--button-size-large: var(--krds-size-height-2);
--krds-btn-tag--padding-x-large: var(--krds-padding-5);
--krds-btn-tag--pc-font-size-large: var(--krds-pc-font-size-label-medium);
--krds-btn-tag--mobile-font-size-large: var(--krds-mobile-font-size-label-medium);