--krds-info-list--depth1-list-margin-top: 0;
--krds-info-list--depth2-list-margin-top: var(--krds-gap-5);
--krds-info-list--depth3-list-margin-top: var(--krds-gap-4);
--krds-info-list--depth1-padding-left: var(--krds-number-12);
--krds-info-list--depth2-padding-left: var(--krds-number-10);
--krds-info-list--depth3-padding-left: var(--krds-number-9);
--krds-info-list--gap-layout-depth1-li-li: var(--krds-gap-4);
--krds-info-list--gap-layout-depth2-li-li: var(--krds-gap-3);
--krds-info-list--gap-layout-depth3-li-li: var(--krds-gap-3);
--krds-info-list--pc-text-depth1: var(--krds-pc-font-size-body-medium);
--krds-info-list--mobile-text-depth1: var(--krds-mobile-font-size-body-medium);
--krds-info-list--pc-text-depth2: var(--krds-pc-font-size-body-medium);
--krds-info-list--mobile-text-depth2: var(--krds-mobile-font-size-body-medium);
--krds-info-list--pc-text-depth3: var(--krds-pc-font-size-body-small);
--krds-info-list--mobile-text-depth3: var(--krds-mobile-font-size-body-small);
--krds-info-list--info-txt-margin-top: var(--krds-number-7);
--krds-info-list--depth1-color-text: var(--krds-light-color-text-subtle);
--krds-info-list--depth2-color-text: var(--krds-light-color-text-subtle);
--krds-info-list--depth3-color-text: var(--krds-light-color-text-subtle);