--krds-form-toggle-switch--color-text: var(--krds-light-color-text-basic);
--krds-form-toggle-switch--color-text-disabled: var(--krds-light-color-text-disabled);
--krds-form-toggle-switch--button-color-background: var(--krds-light-color-element-gray);
--krds-form-toggle-switch--button-color-background-checked: var(--krds-light-color-element-primary);
--krds-form-toggle-switch--check-color-background: var(--krds-light-color-element-inverse);
--krds-form-toggle-switch--button-color-background-disabled: var(--krds-light-color-element-disabled-light);
--krds-form-toggle-switch--check-color-background-disabled: var(--krds-light-color-element-disabled-dark);
--krds-form-toggle-switch--check-color-border: var(--krds-form-toggle-switch--button-color-background);
--krds-form-toggle-switch--check-color-border-checked: var(--krds-form-toggle-switch--button-color-background-checked);
--krds-form-toggle-switch--check-color-border-disabled: var(--krds-form-toggle-switch--button-color-background-disabled);
--krds-form-toggle-switch--button-size-width-medium: 3.2rem;
--krds-form-toggle-switch--button-size-height-medium: var(--krds-size-height-3);
--krds-form-toggle-switch--check-size-medium: var(--krds-form-toggle-switch--button-size-height-medium);
--krds-form-toggle-switch--icon-size-medium: 0.8rem;
--krds-form-toggle-switch--button-radius-medium: var(--krds-form-toggle-switch--button-size-height-medium);
--krds-form-toggle-switch--pc-font-size-medium: var(--krds-pc-font-size-label-medium);
--krds-form-toggle-switch--mobile-font-size-medium: var(--krds-mobile-font-size-label-medium);
--krds-form-toggle-switch--button-size-width-large: 4rem;
--krds-form-toggle-switch--button-size-height-large: var(--krds-size-height-4);
--krds-form-toggle-switch--check-size-large: var(--krds-form-toggle-switch--button-size-height-large);
--krds-form-toggle-switch--icon-size-large: 1rem;
--krds-form-toggle-switch--button-radius-large: var(--krds-form-toggle-switch--button-size-height-large);
--krds-form-toggle-switch--pc-font-size-large: var(--krds-pc-font-size-label-large);
--krds-form-toggle-switch--mobile-font-size-large: var(--krds-mobile-font-size-label-large);
--krds-form-toggle-switch--gap: var(--krds-gap-3);