--krds-tooltip--popover-radius: var(--krds-radius-small3);
--krds-tooltip--popover-radius-box: var(--krds-radius-xlarge2);
--krds-tooltip--popover-contents-pc-font-size: var(--krds-pc-font-size-body-small);
--krds-tooltip--popover-contents-mobile-font-size: var(--krds-mobile-font-size-body-small);
--krds-tooltip--popover-margin-x: 2.4rem;
--krds-tooltip--popover-inline-color-text: var(--krds-light-color-text-basic-inverse);
--krds-tooltip--popover-box-color-text: var(--krds-light-color-text-basic);
--krds-tooltip--popover-color-border: var(--krds-light-color-border-gray);
--krds-tooltip--popover-color-surface: var(--krds-light-color-surface-inverse);
--krds-tooltip--popover-box-color-surface: var(--krds-light-color-surface-white-subtler);