
<!-- foot-quick -->
			<div class="foot-quick">
				<div class="inner">
					<button type="button" class="link open-modal" title="소속기관(지청 및 위원회) 레이어" data-target="popFootLink">소속기관(지청 및 위원회)</button>
					<button type="button" class="link open-modal" title="업무별 누리집 레이어" data-target="popFootLink">업무별 누리집</button>
					<button type="button" class="link open-modal" title="산하기관 및 관련단체 레이어" data-target="popFootLink">산하기관 및 관련단체</button>
					<button type="button" class="link open-modal" title="정부기관 레이어" data-target="popFootLink">정부기관</button>
				</div>
			</div>
			<!-- //foot-quick -->
			<!-- inner -->
			<div class="inner">
				<div class="f-logo sample">
					<span class="sr-only">대한민국정부</span>
				</div>
				<div class="f-cnt">
					<div class="f-info">
						<p class="info-addr">(04383) 서울특별시 용산구 이태원로 22</p>
						<ul class="info-cs">
							<li>
								<strong class="key-info">대표전화 <span>1234-5678</span></strong>
								<span class="more-info">(유료, 평일 09시-18시)</span>
							</li>
							<li>
								<strong class="key-info">해외이용 <span>+82-1234-5678</span></strong>
								<span class="more-info">(유료, 평일 09시-18시)</span>
							</li>
						</ul>
						<!-- @@if (footerType === "type1") {
						<ul class="info-cs">
							<li>
								<strong class="key-info">대표전화 <span>1234-5678</span></strong>  
								<span class="more-info">(유료, 평일 09시-18시)</span>
							</li>
							<li>
								<strong class="key-info">해외이용 <span>+82-1234-5678</span></strong>
								<span class="more-info">(유료, 평일 09시-18시)</span>
							</li>
						</ul>
						} -->
					</div>

					@@if (footerType === "type2") {
					<ul class="f-cs">
						<li>
							<dl>
								<dt class="info-tit">정보입력</dt>
								<dd class="info-conts">
									<strong>중요한 정보를 입력해주세요</strong>
								</dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt class="info-tit">정보입력</dt>
								<dd class="info-conts">
									<strong>중요한 정보를 입력해주세요</strong>
								</dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt class="info-tit">정보입력</dt>
								<dd class="info-conts">
									<strong>중요한 정보를 입력해주세요</strong>
								</dd>
							</dl>
						</li>
					</ul>
					}
					
					<div class="f-link">
						<div class="link-go">
							<a href="#" class="krds-btn text">이용안내 <i class="svg-icon ico-angle right"></i></a>
							<a href="#" class="krds-btn text">찾아오시는 길 <i class="svg-icon ico-angle right"></i></a>
						</div>
						<div class="link-sns">
							<a href="#" class="krds-btn xlarge icon border" target="_blank" title="새 창 열기">
								<span class="sr-only">인스타그램</span>
								<i class="svg-icon ico-instagram"></i>
							</a>
							<a href="#" class="krds-btn xlarge icon border" target="_blank" title="새 창 열기">
								<span class="sr-only">유튜브</span>
								<i class="svg-icon ico-youtube"></i>
							</a>
							<a href="#" class="krds-btn xlarge icon border" target="_blank" title="새 창 열기">
								<span class="sr-only">X</span>
								<i class="svg-icon ico-sns-x"></i>
							</a>
							<a href="#" class="krds-btn xlarge icon border" target="_blank" title="새 창 열기">
								<span class="sr-only">페이스북</span>
								<i class="svg-icon ico-facebook"></i>
							</a>
							<a href="#" class="krds-btn xlarge icon border" target="_blank" title="새 창 열기">
								<span class="sr-only">블로그</span>
								<i class="svg-icon ico-blog"></i>
							</a>
						</div>
					</div>
				</div>

				<div class="f-btm">
					<div class="f-btm-text">
						<div class="f-menu">
							<a href="#" class="krds-btn small text">이용안내</a>
							<a href="#" class="krds-btn small text">개인정보처리방침</a>
							<a href="#" class="krds-btn small text">저작권 정책</a>
							<a href="#" class="krds-btn small text">웹 접근성 품질인증 마크 획득</a>
						</div>
						<p class="f-copy">© The Government of the Republic of Korea. All rights reserved.</p>
					</div>
					<div class="krds-identifier">
						<span class="logo sample">
							<span class="sr-only">대한민국정부</span>
						</span>
						<span class="ban-txt">이 누리집은 정부 산하기관 누리집입니다.</span>
					</div>
				</div>
			</div>
			<!-- //inner -->