<!DOCTYPE html>
<html lang="ko">
    @@include("../inc/head.html", { "title": "헤더 (Header) | 컴포넌트 - KRDS", })

    <body>
        <div id="wrap" class="g-wrap">
            @@include("../inc/guide-header.html")

            <!-- 컨테이너 영역 -->
            <div id="container" class="krds-in-page-navigation-type">
                <!-- 컨텐츠 영역 -->
                <div class="inner in-between">
                    <!-- 사이드 메뉴 -->
                    @@include("../inc/guide-lnb.html")
                    <!-- //사이드 메뉴 -->

                    <div class="contents">
                        <!-- breadcrumb -->
                        @@include("../inc/page-breadcrumb.html")
                        <!-- breadcrumb -->

                        <!-- page-title -->
                        @@include("../inc/page-title.html", { 
							"desc" : '헤더는 사용자가 웹사이트에 접속하자마자 마주하게 되는 화면의 최상단 영역으로 디지털 정부 서비스의 브랜드 이미지를 전달하는 핵심 영역이다. 모든 화면에 일관성 있게 배치되며 통합검색, 메인 메뉴 등 서비스 정보를 탐색하고 이동할 수 있는 핵심 탐색 수단을 제공한다.' 
						})
                        <!-- //page-title -->

                        <div class="conts-area">
                            <!-- 탭 메뉴 -->
                            <div class="krds-tab-area layer">
                                <!-- tab list -->
                                @@include("../inc/page-tab-list.html", { "list": [ { name: "개요", class: "active" }, { name: "접근성", class: "" }, { name: "코드", class: "" }, ] })
                                <!-- //tab list -->
                                <!-- tab contents -->
                                <div class="tab-conts-wrap">
                                    <!-- quick link -->
                                    @@include("../inc/page-quick-nav.html")
                                    <!-- //quick link -->

                                    <!-- tabpanelInfo01 -->
                                    <section id="tabpanelInfo01" aria-labelledby="tabInfo01" class="tab-conts active" data-quick-nav="true">
                                        <!-- scroll-check -->
                                        <div class="g-description-area scroll-check">
                                            <!-- 구조 -->
                                            <div class="g-conts-area structure section-link">
                                                <h3 class="sec-tit">구조</h3>
                                                <div class="g-conts-area">
                                                    <div class="g-img-wrap">
                                                        <div class="g-img-zoom"><img src="../../../resources/img/guide/contents/component/header_structure.png" alt="구조 예시" /></div>
                                                    </div>
                                                    <ol class="krds-info-list ordered">
                                                        <li>
                                                            <span class="num">1.</span><strong>건너뛰기 링크</strong>
                                                            마우스 대신 키보드를 주 입력 인터페이스로 활용하는 사용자를 위한 보조적인 정보 구조 탐색 수단
                                                        </li>
                                                        <li>
                                                            <span class="num">2.</span><strong>공식 배너</strong>
                                                            대한민국 정부 조직 및 관련 기관에서 운영·관리하는 디지털 정부 서비스임을 식별할 수 있도록 제공하는 정보 배너
                                                        </li>
                                                        <li>
                                                            <span class="num">3.</span><strong>서비스 아이덴티티</strong>
                                                            기관/서비스 로고 및 슬로건을 배치하여 디지털 서비스 운영 주체의 정체성을 전달함
                                                        </li>
                                                        <li>
                                                            <span class="num">4.</span><strong>유틸리티 링크 그룹</strong>
                                                            서비스의 주요 탐색 도구와 다르게 부차적이지만 대부분의 화면에서 빈번하게 사용되는 기능이 제공되는 영역
                                                        </li>
                                                        <li>
                                                            <span class="num">5.</span><strong>드롭다운 메뉴</strong>
                                                            유틸리티 링크가 5개 이상 필요할 때 사용됨
                                                        </li>
                                                        <li>
                                                            <span class="num">6.</span><strong>아이콘 링크/버튼과 레이블</strong>
                                                            통합검색 레이어/화면을 실행하는 버튼을 포함하여 로그인, 회원가입, 개인 메뉴와 같이 서비스 이용에 핵심적인 기능을 실행하거나 화면으로 이동하는 아이콘 버튼 및 텍스트 레이블
                                                        </li>
                                                        <li>
                                                            <span class="num">7.</span><strong>메인 메뉴</strong>
                                                            사이트를 일차적으로 탐색하기 위해 사용되는 탐색 인터페이스
                                                        </li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <!-- //구조 -->

                                            <!-- 유형 -->
                                            <div class="g-conts-area section-link">
                                                <h3 class="sec-tit">유형</h3>
                                                <div class="g-conts-area sp-sm">
                                                    <h4 class="con-tit">세로형</h4>
                                                    <div class="g-img-wrap pure">
                                                        <div class="g-img-zoom"><img src="../../../resources/img/guide/contents/component/header_type.png" alt="세로형 예시" /></div>
                                                    </div>
                                                </div>
                                                <div class="g-conts-area">
                                                    <h4 class="con-tit">가로형</h4>
                                                    <div class="g-img-wrap pure">
                                                        <div class="g-img-zoom"><img src="../../../resources/img/guide/contents/component/header_type_02.png" alt="가로형 예시" /></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- //유형 -->

                                            <!-- 사용성 가이드라인 -->
                                            <div class="g-conts-area section-link">
                                                <h3 class="sec-tit">사용성 가이드라인</h3>
												<div class="g-conts-area sp-sm">
													<div class="g-desc-box">
														<p class="g-tit">헤더의 스타일 수정을 최소화한다.</p>
														<p class="g-desc">헤더의 일관성을 유지하는 것은 정부 브랜드 인지도와 사용자 신뢰를 구축하는 데 필수적이다.</p>
													</div>
													<div class="g-desc-box">
														<p class="g-tit">정부 로고는 항상 헤더의 왼쪽 상단에 제공한다.</p>
														<p class="g-desc">정부 로고는 정부와의 연결을 강화하며, 디지털 서비스 전반에 걸쳐 일관된 경험을 제공할 수 있다.</p>
													</div>
													<div class="g-desc-box">
														<p class="g-tit">헤더의 내부 컴포넌트를 일관된 순서로 배치한다.</p>
														<p class="g-desc">헤더에서 건너뛰기 링크가 항상 가장 먼저 제공되어야 한다. 그 다음으로 서비스 아이덴티티, 유틸리티 그룹/드롭다운 메뉴, 검색 버튼, 메인 메뉴 순으로 컴포넌트 요소들 간 상대적인 순서가 일관성을 가지도록 배치한다.</p>
													</div>
													<div class="g-desc-box">
														<p class="g-tit">핵심적인 정보만 간결하게 제공한다.</p>
														<p class="g-desc">헤더에 포함되는 요소 중 필수적인 항목을 간결하게 배치해야 한다. 헤더에 불필요한 꾸밈이나 과다한 정보가 배치되면, 사용자가 모든 화면에서 이용에 어려움을 겪을 수 있다.</p>
													</div>
													<div class="g-desc-box">
														<p class="g-tit">유틸리티 링크 그룹은 헤더 우측 상단에 제공한다.</p>
														<p class="g-desc">헤더 우측 상단은 일반적으로 사용자들이 유틸리티 그룹을 발견할 수 있을 것으로 예측하는 공간이다.</p>
													</div>
													<div class="g-desc-box">
														<p class="g-tit">유틸리티 링크 그룹을 디바이더로 구분하여 표현한다.</p>
														<p class="g-desc">서로 관련되지 않은 링크가 시각적으로 명확하게 변별될 수 있도록 여러 가지 형태의 디바이더를 활용하여 구분해야 한다.</p>
													</div>
													<div class="g-desc-box">
														<p class="g-tit">유틸리티 링크가 5개 이상 필요한 경우 드롭다운 메뉴를 사용한다.</p>
														<p class="g-desc">유사한 목적을 가진 링크를 하나의 드롭다운 메뉴로 제공함으로써 사용자는 관련 있는 기능을 더 빠르게 인지할 수 있으며, 헤더를 간결하게 유지함으로써 보다 중요한 정보에 집중하는 데 도움이 된다.</p>
													</div>
													<div class="g-img-wrap caption-format success">
														<p class="caption"><span class="svg-icon ico-success-fill pure"></span>모범 사례</p>
														<div class="g-img-zoom"><img src="../../../resources/img/guide/contents/component/header_guide_01.png" alt="유틸리티 링크가 5개 이상 필요한 경우 드롭다운 메뉴를 사용한다 모범 사례 예시" /></div>
													</div>
													<div class="g-img-wrap caption-format error">
														<p class="caption"><span class="svg-icon ico-error-fill pure"></span>피해야 할 사례</p>
														<div class="g-img-zoom"><img src="../../../resources/img/guide/contents/component/header_guide_01_02.png" alt="유틸리티 링크가 5개 이상 필요한 경우 드롭다운 메뉴를 사용한다 피해야 할 사례 예시" /></div>
													</div>
													<div class="g-desc-box">
														<p class="g-tit">언어 설정을 위한 드롭다운 메뉴에 국기를 사용하지 않는다.</p>
														<p class="g-desc">한 국가 내에서도 다양한 언어가 사용될 수 있기 때문에 국기 대신 언어의 이름을 해당 언어로 제공해야 한다.</p>
													</div>
													<div class="g-desc-box">
														<p class="g-tit">아이콘 버튼/링크에 텍스트 레이블을 제공한다.</p>
														<p class="g-desc">아이콘에 표현된 정보가 명확하지 않거나 정보 해석에 많은 시간 소요되는 사용자는 아이콘만 제공되었을 때 컨트롤의 기능을 이해하지 못할 가능성이 높다. 검색, 로그인처럼 대부분의 사용자가 의미를 이해할 수 있고 아이콘이 간결한 경우에는 텍스트 레이블을 생략할 수 있다.</p>
													</div>
													<div class="g-img-wrap caption-format success">
														<p class="caption"><span class="svg-icon ico-success-fill pure"></span>모범 사례</p>
														<div class="g-img-zoom"><img src="../../../resources/img/guide/contents/component/header_guide_02.png" alt="아이콘 버튼/링크에 텍스트 레이블을 제공한다 모범 사례 예시" /></div>
													</div>
													<div class="g-desc-box">
														<p class="g-tit">메인 메뉴와 검색의 위치는 웹사이트의 목적에 적합한 형태로 제공한다.</p>
														<p class="g-desc">메인 메뉴의 길이와 검색의 복잡도, 이용 빈도에 따라 적절한 레이아웃의 메인 메뉴와 통합검색 버튼 스타일을 결정한다.</p>
													</div>
													<div class="g-img-wrap caption-format success">
														<p class="caption"><span class="svg-icon ico-success-fill pure"></span>모범 사례 1</p>
														<div class="g-img-zoom"><img src="../../../resources/img/guide/contents/component/header_guide_03.png" alt="메인 메뉴와 검색의 위치는 웹사이트의 목적에 적합한 형태로 제공한다 모범 사례1 예시" /></div>
													</div>
													<div class="g-img-wrap caption-format success">
														<p class="caption"><span class="svg-icon ico-success-fill pure"></span>모범 사례 2</p>
														<div class="g-img-zoom"><img src="../../../resources/img/guide/contents/component/header_guide_03_02.png" alt="메인 메뉴와 검색의 위치는 웹사이트의 목적에 적합한 형태로 제공한다 모범 사례2 예시" /></div>
													</div>
													<div class="g-desc-box">
														<p class="g-tit">화면을 스크롤 했을 때 헤더를 뷰포트 상단에 고정할 수 있다.</p>
														<p class="g-desc">헤더가 간결하게 구성되어 있다면 사용자가 긴 화면을 스크롤 하면서도 헤더에서 제공하는 탐색 및 유틸리티에 계속 접근 가능하도록 헤더를 고정하여 제공할 수 있다.</p>
														<p class="g-desc">만약 2행을 초과하는 헤더를 고정하고자 한다면, 사용자가 현재 화면에서의 과업에 집중할 수 있도록 사용자가 스크롤을 내릴 때에는 헤더를 고정하지 않는다. 스크롤을 올릴 때에는 헤더를 화면 상단에 고정하여 메인 화면으로 이동하거나 메뉴를 탐색하고자 하는 사용자의 행동을 도울 수 있다.</p>
														<p class="g-desc">헤더가 고정될 때에는 공식 배너를 제외한 전체 헤더가 고정되어야 한다.</p>
													</div>
													<div class="g-img-wrap caption-format success">
														<p class="caption"><span class="svg-icon ico-success-fill pure"></span>모범 사례</p>
														<div class="g-img-zoom"><img src="../../../resources/img/guide/contents/component/header_guide_04.png" alt="화면을 스크롤 했을 때 헤더를 뷰포트 상단에 고정할 수 있다 모범 사례 예시" /></div>
													</div>
												</div>
                                            </div>
                                            <!-- //사용성 가이드라인 -->
											 
                                            <!-- 플랫폼에 대한 고려 사항 -->
                                            <div class="g-conts-area section-link">
                                                <h3 class="sec-tit">플랫폼에 대한 고려 사항</h3>
												<div class="g-conts-area sp-sm">
													<div class="g-desc-box">
														<p class="g-tit">화면 너비가 충분하지 않아 메인 메뉴를 표시할 수 없을 때 햄버거 메뉴 형태로 제공할 수 있다. </p>
														<p class="g-desc">작은 화면에서는 사용자가 본문 콘텐츠에 집중할 수 있도록 메인 메뉴 막대를 숨기고 햄버거 메뉴 버튼과 메뉴 레이어를 사용할 수 있다.</p>
													</div>
													<div class="g-img-wrap caption-format success">
														<p class="caption"><span class="svg-icon ico-success-fill pure"></span>모범 사례</p>
														<div class="g-img-zoom"><img src="../../../resources/img/guide/contents/component/header_platform_01.png" alt="화면 너비가 충분하지 않아 메인 메뉴를 표시할 수 없을 때 햄버거 메뉴 형태로 제공할 수 있다 모범 사례 예시" /></div>
													</div>
												</div>
                                            </div>
                                            <!-- //플랫폼에 대한 고려 사항 -->

											<!-- 자주 묻는 질문 -->
											@@include("../inc/page-faq.html")
											<!-- //자주 묻는 질문 -->

                                            <!-- 정보 변경 내역 -->
                                            @@include("../inc/page-info-update-log.html")
                                            <!-- //정보 변경 내역 -->
											
											<!-- 컨텐츠 배너 영역 -->
											@@include("../inc/page-banner.html")
											<!--// 컨텐츠 배너 영역 -->
                                        </div>
                                        <!-- //scroll-check -->
                                    </section>
                                    <!-- //tabpanelInfo01 -->
                                    <!-- tabpanelInfo02 -->
                                    <section id="tabpanelInfo02" aria-labelledby="tabInfo02" class="tab-conts" data-quick-nav="true">
                                        <!-- scroll-check -->
                                        <div class="g-description-area scroll-check">
                                            <!-- 접근성 가이드라인 -->
                                            <div class="g-conts-area section-link">
                                               <h3 class="sec-tit">접근성 가이드라인</h3>
												<div class="g-conts-area sp-sm">
													<div class="g-desc-box">
														<p class="g-tit">건너뛰기 링크를 최상단에 배치한다.</p>
														<p class="g-desc">웹페이지의 반복되는 영역을 건너뛰어 본문 등의 주요 영역으로 이동하는 데 사용되는 건너뛰기 링크는 배너 영역 이전에 제공되어야 한다.</p>
														<ul class="krds-info-list decimal">
															<li>KWCAG 2.2 반복 영역 건너뛰기</li>
															<li>WCAG 2.1 Bypass Blocks (A)</li>
														</ul>
													</div>
													<div class="g-desc-box">
														<p class="g-tit">로고 이미지에 대체 텍스트를 제공한다.</p>
														<p class="g-desc">이미지 로고를 사용하는 경우 스크린 리더를 위한 대체 텍스트를 제공해야 한다. 헤더의 로고는 메인 페이지로 이동하는 링크로 사용되므로 대체 텍스트에 '로고'라는 단어가 포함되지 않도록 유의해야 한다.</p>
														<ul class="krds-info-list decimal">
															<li>KWCAG 2.2 적절한 대체 텍스트 제공</li>
															<li>WCAG 2.1 Non-text Content (A)</li>
														</ul>
													</div>
												</div>
                                            </div>
                                            <!-- //접근성 가이드라인 -->
                                        </div>
                                        <!-- //scroll-check -->
                                    </section>
                                    <!-- //tabpanelInfo02 -->
                                    <!-- tabpanelInfo03 -->
                                    <section id="tabpanelInfo03" aria-labelledby="tabInfo03" class="tab-conts" data-quick-nav="true">
                                        <!-- scroll-check -->
                                        <div class="g-description-area scroll-check">
                                            <!-- 예시 -->
                                            <div class="g-conts-area section-link">
                                                <h3 class="sec-tit">예시</h3>
												@@include("../inc/page-example.html",{ "example": [ 
													{ title: "기본", folder: "..", file: "header", class: "" }
												]})
                                                <div class="g-conts-area">
                                                    <div class="g-cont-in">
                                                        <div class="krds-table-wrap scroll">
                                                            <table class="tbl col data">
                                                                <colgroup>
                                                                    <col style="width: 15%" />
                                                                    <col style="width: 15%" />
                                                                    <col />
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">1Depth</th>
                                                                        <th scope="col">2Depth</th>
                                                                        <th scope="col">File Link</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="name">레이아웃</td>
                                                                        <td>타입1</td>
                                                                        <td class="file">
                                                                            <a href="../../pattern/sample_sub_01.html" target="_blank" title="새 창 열기" class="krds-btn medium text underline">html 화면 확인하기</a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="name"></td>
                                                                        <td>타입2</td>
                                                                        <td class="file">
                                                                            <a href="../../pattern/sample_sub_02.html" target="_blank" title="새 창 열기" class="krds-btn medium text underline">html 화면 확인하기</a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- //예시 -->
                                            <!-- 마크업 가이드 -->
                                            <div class="g-conts-area section-link">
                                                <h3 class="sec-tit">마크업 가이드</h3>
                                                <!-- CSS 선택자 -->
                                                <div class="g-conts-area sp-sm">
                                                    <h4 class="con-tit">CSS 선택자 (PC)</h4>
                                                    <!-- table list -->
                                                    <div class="krds-table-wrap">
                                                        <table class="tbl col data">
                                                            <caption>
                                                                마크업 가이드 CSS 선택자 (PC)에 대한 표로 필수/선택으로 구성되어있으며 필수에 대한 구분 항목은 헤더 전체영역,유틸리티 영역,로고 및 주요메뉴,메인메뉴 전체영역, 메인메뉴 1뎁스 버튼(선택 구분항목 선택된 메뉴,링크 메뉴),메인메뉴 2뎁스 전체영역(선택 구분항목 선택된 메뉴영역),메인메뉴 2뎁스 버튼(선택 구분항목 선택된 메뉴),메인메뉴 3뎁스 전체영역(선택 구분항목 선택된 메뉴영역,신규서비스 배너 우측 배치),메인메뉴 3뎁스 메뉴(선택 구분항목 메뉴 상세설명 있는경우) 로 구성되어있음
                                                            </caption>
                                                            <colgroup>
                                                                <col style="width: 20%" />
                                                                <col />
                                                                <col style="width: 20%" />
                                                                <col />
                                                            </colgroup>
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col" colspan="2">필수</th>
                                                                    <th scope="col" colspan="2">선택</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <th scope="row">헤더 전체영역</th>
                                                                    <td colspan="3">#krds-header</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">유틸리티 영역</th>
                                                                    <td colspan="3">.header-utility</td>
                                                                </tr>
																<tr>
																	<th scope="row">로고 및 주요메뉴</th>
																	<td colspan="3">.header-branding</td>
																</tr>
																<tr>
																	<th scope="row">메인메뉴 전체영역</th>
																	<td colspan="3">.krds-main-menu</td>
																</tr>
																<tr>
																	<th scope="row" rowspan="2">메인메뉴 1뎁스 버튼</th>
																	<td rowspan="2">.gnb-main-trigger</td>
																	<th scope="row">선택된 메뉴</th>
																	<td>
																		.active <br>
																		[aria-expanded=true]
																	</td>
																</tr>
																<tr>
																	<th scope="row">링크 메뉴</th>
																	<td>.is-link</td>
																</tr>
																<tr>
																	<th scope="row">메인메뉴 2뎁스 전체영역</th>
																	<td>.gnb-toggle-wrap</td>
																	<th scope="row">선택된 메뉴영역</th>
																	<td>.is-open</td>
																</tr>
																<tr>
																	<th scope="row">메인메뉴 2뎁스 버튼</th>
																	<td>.gnb-sub-trigger</td>
																	<th scope="row">선택된 메뉴</th>
																	<td>
																		.active <br>
																		[aria-expanded=true]
																	</td>
																</tr><tr>
																	<th scope="row" rowspan="2">메인메뉴 3뎁스 전체영역</th>
																	<td rowspan="2">.gnb-sub-list</td>
																	<th scope="row">선택된 메뉴영역</th>
																	<td>
																		.active
																	</td>
																</tr>
																<tr>
																	<th scope="row">신규서비스 배너 우측 배치</th>
																	<td colspan="3">.between</td>
																</tr>
																<tr>
																	<th scope="row">메인메뉴 3뎁스 메뉴</th>
																	<td>.gnb-sub-content &gt ul</td>
																	<th scope="row">메뉴 상세설명 있는경우</th>
																	<td>.type-description</td>
																</tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- //table list -->
                                                </div>
                                                <!--// CSS 선택자 -->

												<!-- CSS 선택자 -->
												<div class="g-conts-area">
													<h4 class="con-tit">CSS 선택자 (MOBILE)</h4>
													<!-- table list -->
													<div class="krds-table-wrap">
														<table class="tbl col data">
															<caption>
																마크업 가이드 CSS 선택자 (MOBILE)에 대한 표로 필수/선택으로 구성되어있으며 필수에 대한 구분 항목은 헤더 전체영역,유틸리티 영역,로고 및 주요메뉴,메인메뉴 전체영역, 메인메뉴 1뎁스 버튼(선택 구분항목 선택된 메뉴),메인메뉴 2뎁스 전체영역,메인메뉴 2뎁스 버튼,메인메뉴 3뎁스 전체영역,메인메뉴 3뎁스 메뉴(선택 구분항목 4뎁스 있는경우),메인메뉴 4뎁스 메뉴영역(선택 구분항목 선택된 영역) 로 구성되어있음
															</caption>
															<colgroup>
																<col style="width: 20%" />
																<col />
																<col style="width: 20%" />
																<col />
															</colgroup>
															<thead>
															<tr>
																<th scope="col" colspan="2">필수</th>
																<th scope="col" colspan="2">선택</th>
															</tr>
															</thead>
															<tbody>
															<tr>
																<th scope="row">헤더 전체영역</th>
																<td colspan="3">#krds-header</td>
															</tr>
															<tr>
																<th scope="row">유틸리티 영역</th>
																<td colspan="3">.gnb-utils</td>
															</tr>
															<tr>
																<th scope="row">로고 및 주요메뉴</th>
																<td colspan="3">.header-branding</td>
															</tr>
															<tr>
																<th scope="row">메인메뉴 전체영역</th>
																<td colspan="3">.krds-main-menu-mobile</td>
															</tr>
															<tr>
																<th scope="row">메인메뉴 1뎁스 버튼</th>
																<td>.gnb-main-trigger</td>
																<th scope="row">선택된 메뉴</th>
																<td>
																	.active <br>
																	[aria-selected=true]
																</td>
															</tr>
															<tr>
																<th scope="row">메인메뉴 2뎁스 전체영역</th>
																<td colspan="3">.submenu-wrap</td>
															</tr>
															<tr>
																<th scope="row">메인메뉴 2뎁스 버튼</th>
																<td colspan="3">.gnb-sub-trigger</td>
															</tr>
															<tr>
																<th scope="row">메인메뉴 3뎁스 전체영역</th>
																<td colspan="3">.depth3-wrap</td>
															</tr>
															<tr>
																<th scope="row">메인메뉴 3뎁스 메뉴</th>
																<td>.depth3-trigger</td>
																<th scope="row">4뎁스 있는경우</th>
																<td>.has-depth4</td>
															</tr>
															<tr>
																<th scope="row">메인메뉴 4뎁스 메뉴영역</th>
																<td>.depth4-wrap</td>
																<th scope="row">선택된 영역</th>
																<td>.is-open</td>
															</tr>
															</tbody>
														</table>
													</div>
													<!-- //table list -->
												</div>
												<!--// CSS 선택자 -->
	
												<!-- JS -->
												<div class="g-conts-area">
													<h4 class="con-tit">JS (PC)</h4>
													<!-- table list -->
													<div class="krds-table-wrap">
														<table class="tbl col data">
															<caption>
																마크업 가이드 JS (PC)에 대한 표로 함수/설명으로 구성되어있으며 함수에 대한 구분 항목은 krds_mainMenuPC(구분항목init(),setupMainTrigger(mainTrigger),setupSubTrigger(subTrigger),toggleMainMenu(mainTrigger),toggleSubMenu(subTrigger),closeMainMenu())로 구성되어있음
															</caption>
															<colgroup>
																<col style="width: 20%" />
																<col style="width: 30%" />
																<col />
															</colgroup>
															<thead>
															<tr>
																<th scope="col" colspan="2">함수명</th>
																<th scope="col">설명</th>
															</tr>
															</thead>
															<tbody>
															<tr>
																<th scope="row" rowspan="6">krds_mainMenuPC</th>
																<th scope="row">init()</th>
																<td>초기화 및 주요 이벤트 실행</td>
															</tr>
															<tr>
																<th scope="row">setupMainTrigger(mainTrigger)</th>
																<td>1뎁스 메뉴 및 2뎁스 메뉴영역 기본 설정</td>
															</tr>
															<tr>
																<th scope="row">setupSubTrigger(subTrigger)</th>
																<td>2뎁스 메뉴 및 3뎁스 메뉴영역 기본 설정</td>
															</tr>
															<tr>
																<th scope="row">toggleMainMenu(mainTrigger)</th>
																<td>2뎁스 메뉴 토글 설정</td>
															</tr>
															<tr>
																<th scope="row">toggleSubMenu(subTrigger)</th>
																<td>3뎁스 메뉴 토글 설정</td>
															</tr>
															<tr>
																<th scope="row">closeMainMenu()</th>
																<td>메뉴 닫기</td>
															</tr>
															</tbody>
														</table>
													</div>
													<!-- //table list -->
													<!-- js code -->
													@@include("../inc/page-code-js.html",{ "component": "krds_mainMenuPC" })
													<!-- //js code -->
												</div>
												<!--// JS -->
	
												<!-- JS -->
												<div class="g-conts-area">
													<h4 class="con-tit">JS (MOBILE)</h4>
													<!-- table list -->
													<div class="krds-table-wrap">
														<table class="tbl col data">
															<caption>
																마크업 가이드 JS (MOBILE)에 대한 표로 함수명/설명으로 함수에 대한 구분 항목은 krds_mainMenuMobile(구분항목init(),openMainMenu(mobileGnb),closeMainMenu(mobileGnb),setupAnchorScroll(mobileGnb))로 구성되어있음
															</caption>
															<colgroup>
																<col style="width: 20%" />
																<col style="width: 30%" />
																<col />
															</colgroup>
															<thead>
															<tr>
																<th scope="col" colspan="2">함수명</th>
																<th scope="col">설명</th>
															</tr>
															</thead>
															<tbody>
															<tr>
																<th scope="row" rowspan="4">krds_mainMenuMobile</th>
																<th scope="row">init()</th>
																<td>초기화 및 주요 이벤트 실행</td>
															</tr>
															<tr>
																<th scope="row">openMainMenu(mobileGnb)</th>
																<td>메뉴 열기</td>
															</tr>
															<tr>
																<th scope="row">closeMainMenu(mobileGnb)</th>
																<td>메뉴 닫기</td>
															</tr>
															<tr>
																<th scope="row">setupAnchorScroll(mobileGnb)</th>
																<td>스크롤 시 해당메뉴 활성화</td>
															</tr>
															</tbody>
														</table>
													</div>
													<!-- //table list -->
													<!-- js code -->
													@@include("../inc/page-code-js.html",{ "component": "krds_mainMenuMobile"})
													<!-- //js code -->
												</div>
												<!--// JS -->
                                            </div>
                                            <!-- //마크업 가이드 -->
                                        </div>
                                        <!-- //scroll-check -->
                                    </section>
                                    <!-- //tabpanelInfo03 -->
                                </div>
                                <!-- //tab contents -->
                            </div>
                            <!-- //탭 메뉴 -->
                        </div>
                        
                    </div>
                </div>
                <!-- //컨텐츠 영역 -->
            </div>
            <!-- //컨테이너 영역 -->

            <!-- 푸터 영역 -->
            <footer id="krds-footer">@@include("../inc/guide-footer.html")</footer>
            <!-- //푸터 영역 -->
        </div>
    </body>
</html>
