<!DOCTYPE html>
<html lang="ko">
    @@include("../inc/head.html", { "title": "푸터 (Footer) | 컴포넌트 - KRDS", })

    <body>
        <div id="wrap" class="g-wrap">
            @@include("../inc/guide-header.html")

            <!-- 컨테이너 영역 -->
            <div id="container" class="krds-in-page-navigation-type">
                <!-- 컨텐츠 영역 -->
                <div class="inner in-between">
                    <!-- 사이드 메뉴 -->
                    @@include("../inc/guide-lnb.html")
                    <!-- //사이드 메뉴 -->

                    <div class="contents">
                        <!-- breadcrumb -->
                        @@include("../inc/page-breadcrumb.html")
                        <!-- breadcrumb -->

                        <!-- page-title -->
                        @@include("../inc/page-title.html", { 
							"desc" : "푸터는 화면을 구성하는 가장 마지막 요소로 헤더와 본문에서 원하는 정보를 찾지 못하였거나 사이트 구조 탐색 중에 길을 잃은 사용자들이 대면하게 되는 정보이다. 따라서 푸터에는 사용자가 서비스를 탐색할 수 있는 추가적인 수단, 문제를 해결하는 데 참고할 수 있는 유용한 링크가 제공되어야 한다." 
						})
                        <!-- //page-title -->

                        <div class="conts-area">
                            <!-- 탭 메뉴 -->
                            <div class="krds-tab-area layer">
                                <!-- tab list -->
                                @@include("../inc/page-tab-list.html", { "list": [ { name: "개요", class: "active" }, { name: "접근성", class: "" }, { name: "코드", class: "" } ] })
                                <!-- //tab list -->
                                <!-- tab contents -->
                                <div class="tab-conts-wrap">
                                    <!-- quick link -->
                                    @@include("../inc/page-quick-nav.html")
                                    <!-- //quick link -->

                                    <!-- tabpanelInfo01 -->
                                    <section id="tabpanelInfo01" aria-labelledby="tabInfo01" class="tab-conts active" data-quick-nav="true">
                                        <!-- scroll-check -->
                                        <div class="g-description-area scroll-check">
                                            <!-- 구조 -->
                                            <div class="g-conts-area structure section-link">
                                                <h3 class="sec-tit">구조</h3>
                                                <div class="g-conts-area">
                                                    <div class="g-img-wrap">
                                                        <div class="g-img-zoom"><img src="../../../resources/img/guide/contents/component/footer_structure.png" alt="구조 예시" /></div>
                                                    </div>
                                                    <ol class="krds-info-list ordered">
                                                        <li>
                                                            <span class="num">1.</span><strong>컨테이너</strong>
                                                            푸터가 제공되는 영역
                                                        </li>
                                                        <li>
                                                            <span class="num">2.</span><strong>서비스 로고</strong>
                                                            기관/서비스 로고를 통해 디지털 서비스 운영 주체의 정체성을 전달하는 요소
                                                        </li>
                                                        <li>
                                                            <span class="num">3.</span><strong>연락처</strong>
                                                            주소, 이메일 주소, 대표 전화번호, 민원 전화번호 등 연락 수단 정보
                                                        </li>
                                                        <li>
                                                            <span class="num">4.</span><strong>유틸리티 링크</strong>
                                                            오시는 길, 관련 기관 웹사이트 가기 링크, 소셜 채널 바로가기 링크 등이 제공됨
                                                        </li>
                                                        <li>
                                                            <span class="num">5.</span><strong>정책 링크</strong>
                                                            웹 접근성, 개인 정보 처리 방침과 같은 각종 정책 링크가 제공됨
                                                        </li>
                                                        <li>
                                                            <span class="num">6.</span><strong>저작권 정보</strong>
                                                            디지털 정부 서비스의 저작권을 명시한 텍스트
                                                        </li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <!-- //구조 -->

                                            <!-- 사용성 가이드라인 -->
                                            <div class="g-conts-area section-link">
                                                <h3 class="sec-tit">사용성 가이드라인</h3>
												<div class="g-conts-area sp-sm">
													<div class="g-desc-box">
														<p class="g-tit">모든 페이지에 푸터를 일관된 위치에 제공해야 한다.</p>
														<p class="g-desc">푸터는 페이지의 마지막 요소이므로 본문 하단에 배치해야 한다. 본문의 높이가 뷰포트 높이보다 짧은 경우 푸터가 뷰포트 하단에 고정되어 있는지 확인한다.</p>
													</div>
													<div class="g-img-wrap caption-format success">
														<p class="caption"><span class="svg-icon ico-success-fill pure"></span>모범 사례</p>
														<div class="g-img-zoom"><img src="../../../resources/img/guide/contents/component/footer_guide_01.png" alt="모든 페이지에 푸터를 일관된 위치에 제공해야 한다 모범 사례 예시" /></div>
													</div>
													<div class="g-img-wrap caption-format error">
														<p class="caption"><span class="svg-icon ico-error-fill pure"></span>피해야 할 사례</p>
														<div class="g-img-zoom"><img src="../../../resources/img/guide/contents/component/footer_guide_01_02.png" alt="모든 페이지에 푸터를 일관된 위치에 제공해야 한다 피해야 할 사례 예시" /></div>
													</div>
													<div class="g-desc-box">
														<p class="g-tit">모든 디지털 정부 서비스에서 푸터 섹션의 정보는 일관된 순서로 제공한다.</p>
														<p class="g-desc">
															푸터 내 정보 배치 일관성을 유지하는 것은 디지털 정부 서비스 브랜드 확립과 사용자 신뢰 구축에 매우 중요하므로 명확한 이유 없이 기본 순서를 변경해서는 안 된다. <br />
															푸터 섹션의 정보는 서비스 로고, 연락처, 유틸리티 링크, 정책 링크, 저작권 정보의 순으로 제공한다. 이때, 서비스 로고, 연락처, 유틸리티 링크는 하나의 그룹으로 인지될 수 있도록 표현해야 한다.
														</p>
													</div>
													<div class="g-desc-box">
														<p class="g-tit">개인 정보 처리 방침을 반드시 표시한다.</p>
														<p class="g-desc">개인 정보 처리의 투명성 등을 알리기 위한 개인 정보 처리 방침은 반드시 웹사이트에 공개해야 하고, 변경된 경우 그 사항을 반영해야 한다.</p>
													</div>
													<div class="g-desc-box">
														<p class="g-tit">전자상거래가 포함된 경우 이용약관을 반드시 표시한다.</p>
														<p class="g-desc">인터넷쇼핑몰 등 전자상거래가 포함된 경우, 소비자가 안전하게 거래할 수 있도록 사업자의 신원, 거래 약관 등을 푸터에서 제공해야 한다.</p>
													</div>
													<div class="g-desc-box">
														<p class="g-tit">사용자들이 빈번하게 찾는 링크를 배치한다.</p>
														<p class="g-desc">사이트맵을 비롯하여 사용자가 빈번하게 찾는 링크는 웹사이트의 하단에서도 쉽게 접근할 수 있도록 제공하는 것이 좋다. 웹사이트의 세로 길이가 길어질수록 다시 상단으로 이동하는 것보다 더 빠른 접근이 가능하기 때문이다. 필요하다면 목적별/유형별로 군집화하여 직관적으로 탐색할 수 있게 한다.</p>
													</div>
													<div class="g-desc-box">
														<p class="g-tit">푸터에 제공하는 서비스 내비게이션은 기본 내비게이션과 동일한 구조 및 레이블을 따라야 한다.</p>
														<p class="g-desc">푸터에 서비스 내비게이션을 제공할 때, 기본 내비게이션(메인 메뉴)에 포함된 모든 최상위 화면 링크가 푸터 탐색에도 포함되어야 한다. 하위 화면 링크가 푸터에 포함된 경우 하위 화면 링크도 기본 탐색과 동일한 구조 및 레이블을 따라야 한다.</p>
													</div>
													<div class="g-desc-box">
														<p class="g-tit">연락처 정보와 각종 링크는 항상 최신 상태로 유지한다.</p>
														<p class="g-desc">링크를 실행했을 때 존재하지 않는 사이트/페이지/화면으로 이동하거나 예상과 다른 목적지로 이동하지 않도록 점검하고 최신화해야 한다.</p>
													</div>
												</div>
                                            </div>
                                            <!-- //사용성 가이드라인 -->
											 
                                            <!-- 플랫폼에 대한 고려 사항 -->
                                             <div class="g-conts-area section-link">
                                                <h3 class="sec-tit">플랫폼에 대한 고려 사항</h3>
												<div class="g-conts-area sp-sm">
													<div class="g-desc-box">
														<p class="g-tit">작은 화면 너비에서도 푸터의 정보 요소는 상대적으로 동일한 순서로 제공되도록 표현한다.</p>
														<p class="g-desc">화면 너비가 충분하지 않아 병렬적으로 배치되었던 푸터 내부 요소가 수직 배열로 변경되더라도 서비스 로고, 연락처, 유틸리티 링크, 정책 링크, 저작권 정보의 순서로 배치한다.</p>
													</div>
												</div>
                                            </div>
                                            <!-- //플랫폼에 대한 고려 사항 -->

											<!-- 자주 묻는 질문 -->
											@@include("../inc/page-faq.html")
											<!-- //자주 묻는 질문 -->

                                            <!-- 정보 변경 내역 -->
                                            @@include("../inc/page-info-update-log.html")
                                            <!-- //정보 변경 내역 -->
											
											<!-- 컨텐츠 배너 영역 -->
											@@include("../inc/page-banner.html")
											<!--// 컨텐츠 배너 영역 -->
                                        </div>
                                        <!-- //scroll-check -->
                                    </section>
                                    <!-- //tabpanelInfo01 -->

                                    <!-- tabpanelInfo02 -->
                                    <section id="tabpanelInfo02" aria-labelledby="tabInfo02" class="tab-conts" data-quick-nav="true">
                                        <!-- scroll-check -->
                                        <div class="g-description-area scroll-check">
                                            <!-- 접근성 가이드라인 -->
                                            <div class="g-conts-area section-link">
                                               <h3 class="sec-tit">접근성 가이드라인</h3>
												<div class="g-conts-area sp-sm">
													<div class="g-desc-box">
														<p class="g-tit">푸터 영역이 스크린 리더에 인지될 수 있는 방식으로 제공한다.</p>
														<p class="g-desc">푸터의 모든 요소는 &lt;footer&gt; 내부에 배치하여 주요 랜드마크 정보가 스크린 리더로 전달될 수 있도록 해야 한다. 이를 통해 스크린 리더 사용자들은 페이지의 구성을 빠르게 파악할 수 있다.</p>
														<ul class="krds-info-list decimal">
															<li>WCAG 2.1 Info and Relationships (A)</li>
														</ul>
													</div>
													<div class="g-desc-box">
														<p class="g-tit">로고 이미지에 대체 텍스트를 제공한다.</p>
														<p class="g-desc">텍스트가 아닌 이미지로 된 로고를 사용하는 경우 스크린 리더를 위한 대체 텍스트를 포함해야 한다.</p>
														<ul class="krds-info-list decimal">
															<li>KWCAG 2.2 적절한 대체 텍스트 제공</li>
															<li>WCAG 2.1 Non-text Content (A)</li>
														</ul>
													</div>
												</div>
                                            </div>
                                            <!-- //접근성 가이드라인 -->
                                        </div>
                                        <!-- //scroll-check -->
                                    </section>
                                    <!-- //tabpanelInfo02 -->

                                    <!-- tabpanelInfo03 -->
                                    <section id="tabpanelInfo03" aria-labelledby="tabInfo03" class="tab-conts" data-quick-nav="true">
                                        <!-- scroll-check -->
                                        <div class="g-description-area scroll-check">
                                            <!-- 예시 -->
                                            <div class="g-conts-area section-link">
                                                <h3 class="sec-tit">예시</h3>
												@@include("../inc/page-example.html",{ "example": [ 
													{ title: "기본", folder: "..", file: "footer", class: "" }
												]})
                                            </div>
                                            <!-- //예시 -->
                                            <!-- 마크업 가이드 -->
                                            <div class="g-conts-area section-link">
                                                <h3 class="sec-tit">마크업 가이드</h3>
                                                <!-- CSS 선택자 -->
                                                <div class="g-conts-area sp-sm">
                                                    <h4 class="con-tit">CSS 선택자</h4>
                                                    <!-- table list -->
                                                    <div class="krds-table-wrap">
                                                        <table class="tbl col data">
                                                            <caption>
																마크업 가이드 CSS 선택자에 대한 표로 필수 로 구성되어있으며 필수에 대한 구분 항목은 전체영역, 관련기관 링크, 주소 및 연락처 등 정보, 푸터 링크, 운영기관 식별자로 구성되어있음
                                                            </caption>
                                                            <colgroup>
                                                                <col style="width: 20%" />
                                                                <col />
                                                            </colgroup>
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col" colspan="2">필수</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <th scope="row">전체영역</th>
                                                                    <td>#krds-footer</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">관련기관 링크</th>
                                                                    <td>.foot-quick</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">주소 및 연락처 등 정보</th>
                                                                    <td>.f-info</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">푸터 링크</th>
                                                                    <td>.f-link</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">운영기관 식별자</th>
                                                                    <td>.krds-identifier</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- //table list -->
                                                </div>
                                                <!--// CSS 선택자 -->
                                            </div>
                                            <!-- //마크업 가이드 -->
                                        </div>
                                        <!-- //scroll-check -->
                                    </section>
                                    <!-- //tabpanelInfo03 -->
                                </div>
                                <!-- //tab contents -->
                            </div>
                            <!-- //탭 메뉴 -->
                        </div>
                        
                    </div>
                </div>
                <!-- //컨텐츠 영역 -->
            </div>
            <!-- //컨테이너 영역 -->

            <!-- 푸터 영역 -->
            <footer id="krds-footer">@@include("../inc/guide-footer.html")</footer>
            <!-- //푸터 영역 -->
        </div>
    </body>
</html>
